@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #000;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin-top: 4%;
  margin-bottom: 2%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

body {
  color: #40514E;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
  background-color: inherit;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container-h2 {
  color: #000;
}

.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
  /*left: 0;*/
  right: 0;
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  background: lightcoral;
  /* background: linear-gradient(90deg, #f92c78, #4114a1); */
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  height: 10%;
  margin: 15px 0;
}

.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #1a73e8;
}

input[type="checkbox"] {
  display: none;
}

#active:checked~.wrapper ul li a {
  opacity: 1;
}

.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
  /* easeOutBackを緩めた感じ */
  transition-delay: .6s;
  transform: translateX(-100px);
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.img {
  width: 25%;
  float: right;
  border-radius: 100%;
}

header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-size: 100%;
  background-attachment: fixed;
  background-color: lightblue;
  background-blend-mode: soft-light;
}

.top-container {
  /* background-color: #EAF6F6; */
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}

.middle-container {
  margin: 120px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0 20px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  margin: auto;
}

.MyImg {
  width: 15%;
}

.chillies-img {
  width: 25%;
  float: left;
  margin-right: 25px;
  margin-bottom: 45px;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.contact {
  width: 40%;
  margin: 20px auto 60px auto;
}

#contact {
  margin-top: 10%;
}

.footer-link {
  font-size: 1.5rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.3rem;
  width: 30%;
  margin: 10px auto;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  /* left: 0; */
  /* z-index: 1030; */
}

.scrolled-down {
  transform: translateY(-150%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

/* body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
} */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30%;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

.margin-button {
  margin-left: 85%;
  margin-top: 4%;
}

.slideanim {
  visibility: hidden;
  /* visibility:visible\9;/*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:992px) {
  .card {
    margin: 4% 2% 3%;
  }

  .first {
    display: none;
    visibility: hidden;
  }

  .fad {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }

  .fab-action {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
}

* {
  box-sizing: border-box;
}

.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1;
}

.fab-checkbox {
  display: none;
}

.fad {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background: blue;
  border-radius: 50%;
  background: #126ee2;
  box-shadow: 0px 5px 20px #81a4f1;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border: 1px solid #0c50a7;
}

.fad:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked~.fad:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.fad:hover {
  background: #2c87e8;
  box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}

.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}

.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}

.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}

.fab-checkbox:checked~.fad .fab-dots {
  height: 6px;
}

.fad .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked~.fad .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked~.fad .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.fab-checkbox:checked~.fad .fab-dots {
  animation: none;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}

.fab-checkbox:checked~.fab-wheel {
  transform: scale(1);
}

.fab-action {
  position: absolute;
  background: #0f1941;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
  transition: all 1s ease;
  opacity: 0;
}

.fab-checkbox:checked~.fab-wheel .fab-action {
  opacity: 1;
}

.fab-action:hover {
  background-color: #f16100;
}

.fab-wheel .fab-action-1 {
  right: -2.2rem;
  top: -2rem;
}

.fab-wheel .fab-action-2 {
  right: 2.2rem;
  top: -1rem;
}

.fab-wheel .fab-action-3 {
  left: -1rem;
  bottom: 3rem;
}

.fab-wheel .fab-action-4 {
  left: -2rem;
  bottom: -1.5rem;
}

.card {
  margin-bottom: 10%;
}

.row {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5% 25%;
  margin: 0;
}

.stats-img {
  height: 10.5rem;
}

.order-img {
  height: 12rem;
}

.Drumkit-img {
  height: 12rem;
}

.project-heading {
  position: relative;
  margin: 0;
  top: 30px;
  color: white;
}

.projects {
  margin: 0;
  font-family: Helvetica, san-serif;
  background: -webkit-linear-gradient(90deg, #00aaee 10%, #DD2476 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #00aaee 10%, #DD2476 90%);
  /* FF3.6+ */
  padding-bottom: 100px;
}

.square-flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*border:1px solid #efefef;*/
  position: relative;
  /* float:left; */
  margin: 20px;
}

.square-flip {
  width: 400px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.square, .square2 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.square {
  background-size: cover;
  background-position: center center;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.square-flip .square {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}

.square-flip:hover .square {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.square2 {
  background-size: cover;
  background-position: center center;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.square-flip .square2 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  z-index: 1;
}

.square-flip:hover .square2 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

/*Square content*/
.square-container {
  padding: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transform: translateY(-50%) translateX(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) scale(1);
  transform: translateY(-50%) translateX(0px) scale(1);
  transform-style: preserve-3d;
  z-index: 2;
}

.square-flip:hover .square-container {
  -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
  -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
  transform: translateY(-50%) translateX(-650px) scale(.88);
  transform-style: preserve-3d;
}

.square-container2 {
  padding: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform-style: preserve-3d;
  z-index: 2;
}

.square-flip:hover .square-container2 {
  -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform-style: preserve-3d;
}

/*Style text*/
.square-flip h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.square-flip h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/*Elements*/
.flip-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.align-center {
  margin: 0 auto;
}

.kallyas-button {
  display: block;
  width: 130px;
  height: 50px;
  padding: 18px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  background: #FF2024;
  margin: 15px auto;
  border-radius: 2px;
  text-decoration: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
  background: #ffa067;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffa067 0%, #ff2959 49%, #ff2024 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa067', endColorstr='#ff2024', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

/*ADD SHADOWS OPTIONAL*/
.square-flip .square .boxshadow, .square-flip .square .textshadow, .square-flip .square2 .boxshadow, .square-flip .square2 .textshadow {
  -ms-transition: 0.60s;
  transition: 0.60s;
  -webkit-transition: 0.60s;
}

.square-flip .square .boxshadow {
  -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip .square .textshadow {
  -webkit-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip:hover .square .boxshadow, .square-flip:hover .square .textshadow {
  -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip .square2 .boxshadow {
  -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip .square2 .textshadow {
  -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
  text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip:hover .square2 .boxshadow, .square-flip:hover .square2 .textshadow {
  -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.row {
  padding: 0;
}

/*You can delete this style*/
.centerflipcards {
  /* display:block;
  width:1330px;
  height:440px; */
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.clearfix {
  clear: both;
}

.centerflipcards p {
  font-family: "Open Sans";
  font-size: 13px;
  margin-top: 10px;
  font-weight: 700;
}

@media (max-width: 1360px) {
  /* .row {
    padding: 5% 22%;
  } */
}

@media (max-width:1190px) {
  /* .row {
    padding: 5% 18%;
  } */
}

@media (max-width: 1130px) {
  .col-lg-6 {
    width: 100%;
  }

  /* .row {
    padding-left: 33%;
    padding-right: 30%;
  } */
}
