body {
  color: #40514E;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
 margin: 10px 20px;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-left: 15px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

img:hover {
  border-color: #EAF6F6;
}

.navbar {
  background-color: #E4F9F5;
  ;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.ml-auto {
  margin-left: auto;
}

.nav-item {
  margin-bottom: -1px;
}

.nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link:hover {
  color: #9a00e0;
}

.mountain {
  width: auto;
}

.bio {
  width: 30%;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  width: 100%;
  margin: 0;
  position: relative;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 250px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2.5em 20px 20px;
}

.myimg {
  width: 200px;
  height: 200px;
}

.imgright {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  font-size: 1.8rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.5rem;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.cont {
  width: 40%;
  margin: auto;
}

.btn {
  box-shadow: 0 0 0 -50px #a1d9ff;
  background: linear-gradient(to bottom, #00ffe1 5%, #008bc2 100%);
  background-color: #00ffe1;
  border-radius: 6px;
  border: 1px solid #00eaff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 12px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #283966;
}

.btn:hover {
  background: linear-gradient(to bottom, #008bc2 5%, #00ffe1 100%);
  background-color: #008bc2;
}

.btn:active {
  position: relative;
  top: 1px;
}
